{% extends 'front-office/bases/base.html.twig' %}

{% block content %}

    <h1>{{ page.title }}</h1>
    <p>{{ page.text }}</p>
    <div class="societe-action-box">
        <a href="{{ path('contact') }}" class="societe-action">Contactez-nous !</a>
    </div>
    
    <section class="container mt-5">
        <h2>Notre équipe</h2>
        <div class="row">
            {% for portrait in portraits %}
                <div class="col-12 col-md-4">
                    <div class="about-img-box">
                        <img src="{{ asset('assets/img') }}/{{ portrait.picture }}" alt="image portrait {{ portrait.title }}" class="img-fluid">
                        <h3>{{ portrait.title }}</h3>
                        <p>{{ portrait.text }}</p>
                    </div>
                </div>

            {% endfor %}

        </div>
    </section>

{% endblock %}