<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EYAL TELECOM</title>
    <link rel="icon" href="{{ asset('assets/img/logo.png') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/CSS/styles.css') }}">
</head>
<body>
<header class="container-fluid home-header pt-2">
    <nav class=" container d-xl-none xl-3">
        <div class="row">
            <div class="col-2">
                <img src="{{ asset('assets/img/logo.png') }}" alt="logo eyal telecomm" class="img-fluid">
            </div>
            <div class="header-hidden-button col-3 col-sm-2 offset-7 offset-sm-8">
                <img src="{{ asset('assets/img/burgerwhite.png') }}" alt="menu burger" class="img-fluid">
            </div>
        </div>
    </nav>
    <div class="header-hidden-menu">
        <div class="row justify-content-between align-items-center">
            <h2 class="col-10">EYAL TELECOM</h2>
            <p class="col-2 header-hidden-close">X</p>
        </div>

        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('eyaltelecom') }}">La société</a></li>
            <li><a href="{{ path('services') }}">Nos services</a></li>
            <li><a href="{{ path('offre') }}">Nos offres</a></li>
            <li><a href="{{ path('page_context',{'context':'offres-mobiles'}) }}">Offres mobiles</a></li>
            <li><a href="{{ path('page_context',{'context':'partie-fixe'}) }}">Partie fixe</a></li>
            <li><a href="{{ path('page_context',{'context':'internet'}) }}">Internet</a></li>
            <li><a href="{{ path('equipement') }}">Equipement</a></li>
            <li><a href="{{ path('page_context',{'context':'partenaires'}) }}">Partenaires</a></li>
            <li><a href="{{ path('contact') }}">Contact</a></li>
            <li><a href="{{ path('membership') }}">Espace client</a></li>
            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
            {% endif %}
        </ul>
    </div>

</header>

<main>
    <section class=" home-main d-none d-xl-block">
        <div class="home-video-box">
            <div class="home-video-calc"></div>
            <video autoplay muted loop class="img-fluid">
                <source src="{{ asset('assets/video/video.mp4') }}" type="video/mp4">
            </video>
        </div>

        <div class="home-left-container">

            <nav>
                <ul>
                    <li><a href="{{ path('eyaltelecom') }}">La société</a></li>
                    <li><a href="{{ path('services') }}">Nos services</a></li>
                    <li><a href="{{ path('offre') }}">Nos offres</a></li>
                    <li><a href="{{ path('page_context',{'context':'offres-mobiles'}) }}">Offres mobiles</a></li>
                    <li><a href="{{ path('page_context',{'context':'partie-fixe'}) }}">Partie fixe</a></li>
                </ul>
            </nav>
        </div>

        <div class="home-center-container">
            <h1 class="home-h1">EYAL<br/> TELECOM</h1>
            <p class="home-p">Pour un accompagnement sur-mesure dans votre accompagnement de téléphonie</p>
            <a id="home-why" href="#home-main-reasons">Pourquoi nous choisir</a>
        </div>

        <div class="home-right-container">
            <nav>
                <ul>
                    <li><a href="{{ path('page_context',{'context':'internet'}) }}">Internet</a></li>
                    <li><a href="{{ path('equipement') }}">Equipement</a></li>
                    <li><a href="{{ path('page_context',{'context':'partenaires'}) }}">Partenaires</a></li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                    <li><a href="{{ path('membership') }}">Espace client</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="home-main-mobile-container d-block d-xl-none">
        <div class="home-main-mobile">
                <h1 class="home-h1">EYAL<br/> TELECOM</h1>
                <p class="home-p">Pour un accompagnement sur-mesure dans votre accompagnement de téléphonie</p>
                <a href="{{ path('quote') }}">Demander un devis</a>
        </div>
    </section>

    <section class="home-main-reasons" id="home-main-reasons">
        <article class="home-main-reasons-text">
            <h1>{{ page.title }}</h1>
            <p>{{ page.text|raw }}</p>
            <a href="{{ path('quote') }}"><button>Demandez un devis</button></a>
        </article>
    </section>

    <section class="home-main-team container-fluid">
        <h1>Notre équipe</h1>
        <article class="home-main-team-text row mx-0 flex-wrap">
            {% for portrait in portraits %}
                <div class="col-12 col-md-4 px-5">
                    <div class="home-main-team-card">
                        <div class="home-main-team-img-box">
                            <img src="{{ asset('assets/img/') }}{{ portrait.picture }}" alt="image portrait {{ portrait.title
                            }}"
                                 class="img-fluid">
                        </div>
                        <h2>{{ portrait.title }}</h2>
                        <p>{{ portrait.text|raw }}</p>
                    </div>
                </div>
            {% endfor %}
        </article>
    </section>

</main>


<footer class="container-fluid service-footer">
    <div class="row mx-0 w-100 w-md-25">
        <div class="col-6">
            <a href="{{ path('sitemap') }}">Plan du site</a>
        </div>
        <div class="col-6">
            <a href="{{ path('legal') }}">Mentions légales</a>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{{ asset('assets/JS/script.js') }}"></script>
</body>
</html>