{% extends 'front-office/bases/base3.html.twig' %}


{% block content %}
    <div class="base3-container">
        <a href="{{ path('equipement') }}" class="product-one-back">Retour</a>
        <h1>{{ product.name }}</h1>
        <div class="product-one-img-box text-center my-4">
            <img src="{{ asset('assets/img/') }}{{ product.picture }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <p>{{ product.description }}</p>
    </div>
    <div class="base3-quote-box">
        <a href="{{ path('quote') }}" class="base3-quote">Demander un devis</a>
    </div>

{% endblock %}