{% extends 'front-office/bases/base3.html.twig' %}

{% block content %}

    <section class="base3-container">
        <h1 class="contact-h1">Demandez <span class="d-block d-md-inline">un devis</span></h1>
        <p class="contact-p">Votre réponse sous 48 heures maximum</p>
        <p class="contact-p">Renseignez ou demandez un rappel pour échanger directement avec votre conseillé</p>
        <div>
            {% for message in app.flashes('info') %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>

        <form action="#" method="POST" class="contact-form">
            <div class="contact-form-box">
                <label for="society">Nom de l'entreprise*</label>
                <input type="text" id="society" name="society" required>
            </div>

            <div class="contact-form-box">
                <label for="name">Nom de l'interlocuteur*</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="contact-form-box">
                <label for="address">Adresse*</label>
                <input type="textt" id="address" name="address" required>
            </div>

            <div class="contact-form-box">
                <label for="phone">Numéro de téléphone*</label>
                <input type="text" id="phone" name="phone" required>
            </div>

            <div class="divider-box">
                <p class="contact-p-rubric">Situation actuelle</p>
            </div>

            <div class="contact-form-box">
                <label for="operator">Opérateur actuel</label>
                <input type="text" id="operator" name="operator">
            </div>

            <div class="contact-form-box">
                <label for="ending">Date de fin d'engagement</label>
                <input type="date" id="ending" name="ending">
            </div>

            <div class="divider-box">
                <p class="contact-p-rubric">Internet</p>
            </div>

            <div class="contact-form-box">
                <label for="internet">Internet</label>
                <select name="internet" id="internet">
                    <option value="oui">Oui</option>
                    <option value="non" selected>Non</option>
                </select>
            </div>

            <div class="contact-form-box">
                <label for="adsl">ADSL</label>
                <select name="adsl" id="adsl">
                    <option value="oui">Oui</option>
                    <option value="non" selected>Non</option>
                </select>
            </div>

            <div class="contact-form-box">
                <label for="sdsl">SDSL</label>
                <select name="sdsl" id="sdsl">
                    <option value="oui">Oui</option>
                    <option value="non" selected>Non</option>
                </select>
            </div>

            <div class="contact-form-box">
                <label for="fibre">Fibre</label>
                <input type="text" id="fibre" name="fibre">
            </div>

            <div class="contact-form-box">
                <label for="numeris">Nombre de TO ou ligne numeris</label>
                <select name="numeris" id="numeris">
                    {% for i in 0..99%}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="contact-form-box">
                <label for="calls">Nombre d'appels en simultané</label>
                <select name="calls" id="calls">
                    {% for i in 0..99%}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="contact-form-box">
                <label for="analogic">Nombre de lignes anaglogiques</label>
                <select name="analogic" id="analogic">
                    {% for i in 0..99%}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="contact-form-box">
                <label for="coast">Coût mensuel (HT)</label>
                <input type="text" id="coast" name="coast">
            </div>

            <div class="divider-box">
                <p class="contact-p-rubric">Matériel</p>
            </div>

            <div class="contact-form-box">
                <label for="wire">Nombre de postes filaires</label>
                <select name="wire" id="wire">
                    {% for i in 0..99%}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="contact-form-box">
                <label for="wireless">Nombre de postes sans fil</label>
                <select name="wireless" id="wireless">
                    {% for i in 0..99%}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="contact-form-box">
                <label for="age">Âge du matériel</label>
                <select name="age" id="age">
                    {% for i in 0..50%}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="contact-form-box">
                <label for="location">En location</label>
                <select name="location" id="location">
                    <option value="oui">Oui</option>
                    <option value="non" selected>Non</option>
                </select>
            </div>

            <div class="contact-form-box quote-location-option">
                <label for="location_date">Date de fin d'engagement</label>
                <input type="date" id="location_date" name="location_date" disabled>
            </div>


            <div class="contact-form-box">
                <label for="coast_material">Coût mensuel (HT)</label>
                <input type="text" id="coast_material" name="coast_material">
            </div>

            <div class="contact-form-box">
                <label for="comments">Commentaires et besoins actuels (merci d'exprimer vos besoins si ils sont
                    différents de votre situation actuelle)</label>
                <textarea name="comments" id="comments" cols="30" rows="10"></textarea>
            </div>
            <p>
                Postes supplémentaires ? <br>
                Appels supplémentaires en simultané ? <br>
                Messagerie pro à prévoir ou serveur vocal intéractif (tapez 1, tapez 2 etc)
            </p>
            <p>* champs obligatoires</p>

            <p class="font-italic">Nous collectons ces données afin de vous adresser par courriel le devis que vous
                avez
                sollicité. Nous
                utilisons également votre adresse e-mail pour vous adresser des publicités et offres sur nos produits. Si vous ne souhaitez pas recevoir de telles sollicitations, cochez la case ci-dessous :</p>
            <div class="d-flex align-items-baseline">
                <input type="checkbox" id="solicitation" name="solicitation" class="mx-2">
                <label for="solicitation" class="font-italic">Je refuse que la société Eyal Telecom me propose par
                    courriel des produits
                    ou services.</label>
            </div>

            <div class="contact-form-submit-box">
                <input type="submit" name="submit_quote" value="Envoyer" class="contact-form-submit">
            </div>


        </form>
    </section>


{% endblock %}