<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EYAL TELECOM</title>
    <link rel="icon" href="{{ asset('assets/img/logo.png') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/CSS/styles.css') }}">
</head>
<body>

<header class="container-fluid service-header pt-2">
    <nav class="container d-none d-md-block">
        <ul class="row text-center p-1 justify-content-around align-items-center">
            <div class="col-5">
                <div class="row mx-0">
                    <li class="col-4"><a href="{{ path('eyaltelecom') }}" class="service-nav-link">La société</a></li>
                    <li class="col-4"><a href="{{ path('services') }}" class="service-nav-link">Nos services</a></li>
                    <li class="col-4"><a href="{{ path('offre') }}" class="service-nav-link">Nos offres</a></li>
                </div>
                <div class="menu-divider"></div>
                <div class="row mx-0">
                    <li class="col-6"><a href="{{ path('page_context',{'context':'partenaires'}) }}" class="service-nav-link"
                        >Partenaires</a></li>
                    <li class="col-6"><a href="{{ path('page_context',{'context':'offres-mobiles'}) }}"
                                         class="service-nav-link">Offres
                            mobiles</a></li>
                </div>
            </div>
            <li class="col-2 base-logo-box">
                <img src="{{ asset('assets/img/logo.png') }}" alt="logo eyacomm">
            </li>
            <div class="col-5">
                <div class="row mx-0">
                    <li class="col-4"><a href="{{ path('page_context',{'context':'partie-fixe'}) }}" class="service-nav-link">Partie
                            fixe</a></li>
                    <li class="col-4"><a href="{{ path('page_context',{'context':'internet'}) }}" class="service-nav-link">Internet</a></li>
                    <li class="col-4"><a href="#" class="service-nav-link">Espace client</a></li>
                </div>
                <div class="menu-divider"></div>
                <div class="row mx-0">
                    {% if is_granted('ROLE_USER') %}
                        <li class="col-4"><a href="{{ path('equipement') }}" class="service-nav-link">Equipement</a></li>
                        <li class="col-4"><a href="{{ path('contact') }}" class="service-nav-link">Contacts</a></li>
                        <li class="col-4"><a href="{{ path('fos_user_security_logout') }}" class="service-nav-link">Déconnexion</a></li>
                    {% else %}
                        <li class="col-6"><a href="{{ path('equipement') }}" class="service-nav-link">Equipement</a></li>
                        <li class="col-6"><a href="{{ path('contact') }}" class="service-nav-link">Contacts</a></li>
                    {% endif %}
                </div>
            </div>
        </ul>
    </nav>
    <nav class="container d-md-none mb-3">
        <div class="row">
            <div class="col-2">
                <div class="service-logo-box">
                    <img src="{{ asset('assets/img/logo.png') }}" alt="logo eyal telecomm">
                </div>
            </div>
            <div class="header-hidden-button col-3 col-sm-2 offset-7 offset-sm-8">
                <img src="{{ asset('assets/img/burger.png') }}" alt="menu burger" class="img-fluid">
            </div>
        </div>
    </nav>

    <div class="header-hidden-menu">
        <div class="row justify-content-between align-items-center">
            <h2 class="col-10">EYAL TELECOMM</h2>
            <p class="col-2 header-hidden-close">X</p>
        </div>

        <ul>
            <li><a href="{{ path('eyaltelecom') }}">La société</a></li>
            <li><a href="{{ path('services') }}">Nos services</a></li>
            <li><a href="{{ path('offre') }}">Nos offres</a></li>
            <li><a href="{{ path('page_context',{'context':'offres-mobiles'}) }}">Offres mobiles</a></li>
            <li><a href="{{ path('page_context',{'context':'partie-fixe'}) }}">Partie fixe</a></li>
            <li><a href="{{ path('page_context',{'context':'internet'}) }}">Internet</a></li>
            <li><a href="{{ path('equipement') }}">Equipement</a></li>
            <li><a href="{{ path('page_context',{'context':'partenaires'}) }}">Partenaires</a></li>
            <li><a href="{{ path('contact') }}">Contacts</a></li>
            <li><a href="{{ path('membership') }}">Espace client</a></li>
            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="service-thread">
        <p>Accueil / Services</p>
    </div>

    <div class="service-header-box">
        <div class="service-header-text">
            <p>{{ service.text|raw }}</p>
        </div>
        <a href="#nos-services" class="service-action">Voir nos services</a>
    </div>



</header>

<main>
    <section class="container-fluid p-0 service-section-tools" id="nos-services">
        <article class="row mx-0">
            <div class="service-main-img-outils col-12 col-md-6 p-0 order-0"></div>
            <div class="service-main-text col-12 col-md-6 d-flex flex-column justify-content-around
            align-items-center py-4 order-1">
                <div class="service-text-container">
                    <h2>{{ outils.title }}</h2>
                    <p>{{ outils.text|raw }}</p>
                    <div class="service-link-container">
                        <a href="{{ path('services_categories',{'cat':'outils'}) }}" class="service-link-action">En
                            savoir
                            plus</a>
                    </div>
                </div>
            </div>
        </article>

        <article class="row mx-0">
            <div class="service-main-text col-12 col-md-6 d-flex flex-column justify-content-around
            align-items-center py-4 order-1 order-md-0">
                <div class="service-text-container">
                    <h2>{{ proposition.title }}</h2>
                    <p>{{ proposition.text|raw }}</p>
                    <div class="service-link-container">
                        <a href="{{ path('services_categories',{'cat':'propositions'}) }}"
                           class="service-link-action">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="service-main-img-propositions col-12 col-md-6 p-0 order-0 order-md-1"></div>
        </article>

    </section>

</main>

<footer class="container-fluid service-footer">
    <div class="row mx-0 w-100 w-md-25">
        <div class="col-6">
            <a href="{{ path('sitemap') }}">Plan du site</a>
        </div>
        <div class="col-6">
            <a href="{{ path('legal') }}">Mentions légales</a>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{{ asset('assets/JS/script.js') }}"></script>
</body>
</html>