{% extends 'front-office/bases/base.html.twig' %}

{% block title %}
    <h1>Plan du site</h1>
{% endblock %}


{% block content %}
<div class="container-fluid text-left">
    <ul>
        <li><a href="{{ path('home') }}">Accueil</a>
            <ul>
                <li><a href="{{ path('eyaltelecom') }}">La société</a></li>
                <li><a href="{{ path('services') }}">Nos services</a>
                    <ul>
                        <li><a href="{{ path('services_categories',{'cat':'outils'}) }}">Nos outils</a></li>
                        <li><a href="{{ path('services_categories',{'cat':'propositions'}) }}">Nos propositions</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('offre') }}">Nos offres</a></li>
                <li><a href="{{ path('page_context',{'context':'offres-mobiles'}) }}">Offres mobiles</a></li>
                <li><a href="{{ path('page_context',{'context':'partie-fixe'}) }}">Partie fixe</a></li>
                <li><a href="{{ path('page_context',{'context':'internet'}) }}">Internet</a></li>
                <li><a href="{{ path('equipement') }}">Equipement</a></li>
                <li><a href="{{ path('page_context',{'context':'partenaires'}) }}">Partenaires</a></li>
                <li><a href="{{ path('contact') }}">Contacts</a></li>
                <li><a href="{{ path('membership') }}">Espace client</a></li>
            </ul>
        </li>
        <li><a href="{{ path('quote') }}">Devis</a></li>

    </ul>

</div>

{% endblock %}