{% extends 'back-office/base/base.html.twig' %}

{% block content %}

    <table class="categories-table">
        <tr>
            <th class="category-title">Liste des catégories</th>
            <th class="category-button-create"><button><a href="{{ path('create_category') }}">Créer une catégorie</a></button></th>
        </tr>
        {% for category in categories %}
            <tr>
                <td rowspan="2" class="category-name">{{ category.name }}</td>
                <td class="category-button-box"><a href="{{ path('update_category',{'id': category.id}) }}"
                       class="category-button-update">Modifier</a></td>
            </tr>
            <tr>
                <td class="category-button-box"><a href="#" onclick="confirmRemove('{{ path('remove_category',{'id':category.id}) }}')"
                       class="category-button-delete">Supprimer</a></td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}





       {# <div>
            <h2>{{ category.name }}</h2>
            <button><a href="{{ path('update_category',{'id': category.id}) }}">Modifier</a></button>
            <button><a onclick="confirmRemove('{{ path('remove_category',{'id':category.id}) }}')">Supprimer</a></button>
        </div>#}

