{% extends 'back-office/base/base.html.twig' %}

{% block content %}

    <div class="my-4">
        <a href="{{ path('admin_members_invoices',{'id':user.id}) }}">Retour</a>
    </div>

    {% for message in app.flashes('info') %}
        {{ message }}
    {% endfor %}

    {{ form_start(form) }}

    <div class="my-3">
        {{ form_label(form.name) }}
        <div>
            {{ form_widget(form.name) }}
        </div>
    </div>

    <div class="my-3">
        {{ form_widget(form.Envoyer) }}
    </div>

    {{ form_end(form) }}



{% endblock %}