{% extends 'back-office/base/base.html.twig' %}

{% block content %}
    <a href="{{ path('text_home',{'id':context.id,'submit1':'Selectionner'}) }}">Retour</a>
    {% for message in app.flashes('info') %}
        <p>{{ message }}</p>
    {% endfor %}
{{ form_start(form) }}
    <div>
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
    </div>

    <div>
        {{ form_label(form.text) }}
        {{ form_widget(form.text) }}
    </div>

    {% if context.id != 11 and context.id != 3 and context.id != 4 %}
        {% do form.picture.setRendered %}
    {% else %}
        <div>
            {{ form_label(form.picture) }}
            {{ form_widget(form.picture) }}
        </div>
        <div>
            <img src="{{ asset('assets/img/') }}{{ page.picture }}" alt="image {{ page.title }}" class="img-fluid">
        </div>
    {% endif %}

    <div>
        {{ form_widget(form.Valider) }}
    </div>

{{ form_end(form) }}
{% endblock %}