{% extends 'back-office/base/base.html.twig' %}

{% block content %}

    <a href="{{ path('list_tariff') }}">Retour</a>

    {% for message in app.flashes('info') %}
        <p>{{ message }}</p>
    {% endfor %}

    <h1>Modification de l'offre {{ tariff.title }}</h1>
    {{ form_start(form) }}

    <div class="my-3">
        {{ form_label(form.title) }}
        <div>
            {{ form_widget(form.title) }}
        </div>
    </div>

    <div class="my-3">
        {{ form_label(form.description) }}
        <div>
            {{ form_widget(form.description) }}
        </div>
    </div>

    <div class="my-3">
        {{ form_label(form.price) }}
        <div>
            {{ form_widget(form.price) }}
        </div>
    </div>

    <div class="my-3 mb-5">
        {{ form_widget(form.Enregistrer) }}
    </div>

    {{ form_end(form) }}

{% endblock %}