{% extends 'back-office/base/base.html.twig' %}

{% block content %}

    <a href="{{ path('list_product') }}">Retour</a>

    {% for message in app.flashes('info') %}
        <p>{{ message }}</p>
    {% endfor %}

    <h1>Modification du produit {{ product.name }}</h1>

    {{ form_start(form) }}

    <div class="my-3">
        {{ form_label(form.name) }}
        <div>
            {{ form_widget(form.name) }}
        </div>
    </div>

    <div class="my-3">
        {{ form_label(form.picture) }}
        <div>
            {{ form_widget(form.picture) }}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{{ asset('assets/img') }}/{{ product.picture }}" alt="{{ product.name }}" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="my-3">
        {{ form_label(form.description) }}
        <div>
            {{ form_widget(form.description) }}
        </div>
    </div>

    <div class="my-3">
        {{ form_label(form.category) }}
        <div>
            {{ form_widget(form.category) }}
        </div>
    </div>

    <div class="my-5">
        {{ form_widget(form.Enregistrer) }}
    </div>


    {{ form_end(form) }}

{% endblock %}